##
#
# Raging Wire Servers
#
##
define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Bonding
	servicegroups		bonding
	check_command		check_nrpe!check_bonding
}



define service {
	use			remote-service
	hostgroup_name		dialer-servers
	service_description	CPU Idle
	servicegroups		cpu-idle
	check_command		check_nrpe!check_cpu
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	CRON
	servicegroups		cron
	check_command		check_nrpe!check_cron
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, socket-servers, recorded-call-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Current Load
	servicegroups		current-load
	check_command		check_nrpe!check_load
	notification_period	workhours
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Current Users
	servicegroups		current-users
	check_command		check_nrpe!check_users
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Disk Usage
	servicegroups		disk-usage
	check_command		check_nrpe!check_disk
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	DNSCache
	servicegroups		dnscache
	check_command		check_nrpe!check_dnscache
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Fail2ban
	servicegroups		fail2ban
	check_command		check_nrpe!check_fail2ban
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Gmond
	servicegroups		gmond
	check_command		check_nrpe!check_gmond
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	IPv4 Conntrack
	servicegroups		ipv4-conntrack
	check_command		check_nrpe!check_ipv4_conntrack
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Memory Usage
	servicegroups		memory-usage
	check_command		check_nrpe!check_memory
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	NTPd
	servicegroups		ntpd
	check_command		check_nrpe!check_ntpd
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Qmail Queue
	servicegroups		qmail-queue
	check_command		check_nrpe!check_qmail_queue
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers,  event-handler-servers, file-servers, inbound-servers, joule-processor-servers,log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Qmail Send
	servicegroups		qmail-send
	check_command		check_nrpe!check_qmail_send
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Service Scan
	servicegroups		service-scan
	check_command		check_nrpe!check_svscan
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	SSHd
	servicegroups		sshd
	check_command		check_nrpe!check_sshd
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Swap Usage
	servicegroups		swap-usage
	check_command		check_nrpe!check_swap
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Syslog
	servicegroups		syslog
	check_command		check_nrpe!check_syslog
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Time
	servicegroups		time
	check_command		check_nrpe!check_time
}



define service {
	use			remote-service
	hostgroup_name		backup-servers, database-servers, dialer-servers, event-handler-servers, file-servers, inbound-servers, joule-processor-servers, log-servers, message-queue-servers, mongodb-servers, monitor-servers, name-servers, public-web-servers, recorded-call-servers, socket-servers, statistics-servers, web-servers, worker-servers, xen-servers
	service_description	Zombie Processes
	servicegroups		zombie-processes
	check_command		check_nrpe!check_zombie_procs
}
